* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color-black: #000000;
    --main-color-white: #ffffff;
    --main-color-yellow: #f8dd9f;
}

body {
    font-family: "Poppins", serif;
    font-style: normal;
}

header {
    background-color: var(--main-color-white);
}